* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* testimonial css starts here */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@700&family=Roboto:wght@700&display=swap");
/* 
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/
#testimonials {
  height: 800px;
  padding-top: 120px;
}
/* title*/
#testimonials-heading {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  /* temp margin */
  margin-bottom: 122px;
}
#testimonials-heading span {
  color: #4ca9ee;
}
/* testimonial card */
.testimonial {
  background-color: #4ca9ee;
  width: 1076px;
  min-height: 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.testimonial-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.testimonial-user img {
  margin-top: -68px;
  margin-bottom: 18px;
}
.testimonial-name,
.testimonial-user-location {
  color: #fff;
  font-family: "Inter", sans-serif;
}
.testimonial-name {
  font-size: 25px;
  font-weight: 600;
}
.testimonial-user-location {
  font-weight: 400;
  font-size: 14px;
}

.testimonial-review {
  max-width: 837px;
  min-height: 108px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  padding: 0 30px;
}
.testimonial-review p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}
/* swipwe css  */
.testimonial-container {
  position: relative;
  width: 1214px;
  margin: 0 auto;
}
.myTestmonialSwiper {
  width: 1076px;
  height: 406px;
}
#testimonials .swiper-wrapper {
  width: 100%;
  margin-top: 68px;
}
#testimonials .swiper-slide {
  height: 338px;
}

.swiper-button-prev,
.swiper-button-next {
  margin-top: unset;
}
.swiper-button-prev {
  transform: rotateZ(180deg);
}
@media (max-width: 1231px) {
  #testimonials {
    height: 700px;
    padding-top: 100px;
  }
  .testimonial-container {
    width: 800px;
  }
  .myTestmonialSwiper {
    width: 662px;
  }
  #testimonials-heading {
    margin-bottom: 80px;
  }
  .testimonial-user img {
    width: 120px;
    margin-top: -60px;
  }
  .testimonial-name {
    font-size: 23px;
  }
  .testimonial-user-location {
    font-size: 12px;
  }
  .testimonial-review p {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 20px;
    height: auto;
  }
  .testimonial-container {
    width: 600px;
  }
  .myTestmonialSwiper {
    width: 462px;
  }
  .testimonial-user img {
    width: 100px;
    margin-top: -50px;
  }
}
@media (max-width: 600px) {
  #testimonials {
    height: 650px;
    padding-top: 70px;
  }
  #testimonials-heading {
    margin-bottom: 40px;
  }
  .testimonial-container {
    width: 400px;
  }
  .myTestmonialSwiper {
    width: 262px;
  }
  .testimonial-user {
    margin-bottom: 25px;
  }
  .testimonial-user img {
    width: 80px;
    margin-top: -40px;
  }
  .testimonial-review {
    line-height: 22px;
    font-weight: 500;
  }
  .testimonial-review p {
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 400px) {
  #testimonials-heading {
    font-size: 28px;
  }
  .testimonial-container {
    width: 350px;
  }
  .myTestmonialSwiper {
    width: 250px;
  }
}
@media (max-width: 350px) {
  #testimonials-heading {
    font-size: 24px;
  }
  .testimonial-container {
    width: 300px;
  }
  .myTestmonialSwiper {
    width: 220px;
  }
  .testimonial-review p {
    font-size: 14px;
    font-weight: 500;
  }
  .testimonial-user img {
    width: 60px;
    margin-top: -30px;
  }
  .testimonial-name {
    font-size: 20px;
  }
}
@media (max-width: 300px) {
  .testimonial-container {
    width: 270px;
  }
  .myTestmonialSwiper {
    width: 200px;
  }
  .testimonial-review {
    padding: 0 20px;
  }
}
